.to-do {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.wrapper {
  background-color: #2ed4c9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.task-input-list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 22px;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Add button */
.add-btn {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  min-width: 80px;
  font-size: 20px;
  font-weight: bold;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.2, 1),
    box-shadow 0.18s ease;
  background-color: #f57a00;
}

.add-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

:root {
  --duration: 0.8s;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 22px;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Chechbox icon */
.checkbox {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox svg,
.edit-btn svg,
.delete-btn svg,
.reminder-btn svg {
  height: 30px;
  width: 30px;
}

.icon-btn {
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-btn,
.delete-btn,
.reminder-btn {
  display: block;
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.2, 1),
    box-shadow 0.18s ease;
}

.edit-btn:hover,
.delete-btn:hover,
.reminder-btn:hover {
  transform: translateY(-5px);
}

.edit-btn:after,
.delete-btn:after,
.reminder-btn:after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 0px;
  height: 3px;
  width: 70%;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 260ms cubic-bezier(0.2, 0.9, 0.2, 1), opacity 200ms ease;
  background: #f57a00;
  opacity: 0;
}

.edit-btn:hover::after,
.delete-btn:hover::after,
.reminder-btn:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

/* Tick icon */
.task-completed {
  padding: 8px;
  border: 2px solid transparent;
  flex: 1;
  display: flex;
  align-items: center;
  transition: all calc(var(--duration) / 2) linear calc(var(--duration) / 2);
}

.task-text {
  position: relative;
  display: inline-block;
}

.task-completed.checked {
  color: #525252;
  /* text-decoration: line-through; */
}

.task-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  background: #090801;
  height: 2px;
  width: 0;
  transition: width var(--duration) ease;
}

.task-completed.checked .task-text::after {
  width: 100%;
}

/* Edit icon */
.task-edit-input {
  flex: 1;
  font-size: 22px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  text-align: left;
  caret-color: black;
  transition: all 0.3s ease;
}

.task-edit-input.editing {
  border-color: #f57a00;
}

/* Reminder icon */
.reminder-input {
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 14px;
  font-size: 0.9rem;
  border: 1px solid #f57a00;
  z-index: 9999;
}

/* Calendar popup */
.react-datepicker,
.react-datepicker * {
  font-family: "JosefinSans", sans-serif;
  color: #090801;
}

.react-datepicker {
  font-size: 1.2rem;
  width: auto !important;
  min-width: 360px;
  border-radius: 12px;
  border: 2px solid #f57a00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.react-datepicker__time-container {
  width: 150px;
}

.react-datepicker__time-box {
  padding: 10px;
}

.react-datepicker__time-list-item {
  font-size: 1rem;
}

.react-datepicker__header {
  background-color: #f57a00;
  border-bottom: none;
}

.react-datepicker__date--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f57a00;
  border-radius: 50%;
  color: white;
}
