.to-do {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.wrapper {
  background-color: #2ed4c9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.task-input-list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 20px;
  font-size: 14px;
  border: none;
  outline: none;
  font-size: 24px;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Add button */
.add-btn {
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  min-width: 80px;
  font-size: 20px;
  background-color: #f57a00;
}

:root {
  --duration: 0.8s;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Chechbox icon */
.checkbox {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox svg,
.edit-btn svg,
.delete-btn svg,
.reminder-btn svg {
  height: 30px;
  width: 30px;
}

/* Tick icon */
.task-completed {
  position: relative;
  text-align: left;
  padding: 8px;
  border: 2px solid transparent;
  transition: all calc(var(--duration) / 2) linear calc(var(--duration) / 2);
}

.task-completed.checked {
  color: #525252;
}

.task-completed::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  background: #090801;
  height: 2px;
  width: 0;
  transition: width var(--duration) ease;
}

.task-completed.checked::after {
  width: 100%;
}

/* Edit icon */
.edit-btn {
  margin-left: auto;
  cursor: pointer;
}

.task-edit-input {
  flex: 1;
  font-size: 24px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  text-align: left;
  caret-color: black;
  transition: all 0.3s ease;
}

.task-edit-input.editing {
  border-color: #f57a00;
}

.delete-btn {
  cursor: pointer;
  margin-left: 5px;
}

/* Reminder icon */
.reminder-btn {
  cursor: pointer;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.reminder-input {
  padding: 6px 10px;
  font-size: 14px;
  font-size: 0.9rem;
  z-index: 9999;
}

/* Calendar popup */

.react-datepicker,
.react-datepicker * {
  font-family: "JosefinSans", sans-serif;
  color: #090801;
}

.react-datepicker {
  font-size: 1.2rem;
  width: auto !important;
  min-width: 360px;
  border-radius: 12px;
  border: 2px solid #f57a00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.react-datepicker__time-container {
  width: 150px;
}

.react-datepicker__time-box {
  padding: 10px;
}

.react-datepicker__time-list-item {
  font-size: 1rem;
}

.react-datepicker__header {
  background-color: #f57a00;
  border-bottom: none;
}

.react-datepicker__date--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f57a00;
  border-radius: 50%;
  color: white;
}
