@font-face {
  font-family: "NewsOfTheWorld";
  src: url(./assets/fonts/news-of-the-world-wide.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KirangHaerang";
  src: url(./assets/fonts/KirangHaerang-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 0.9rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.7rem;
    padding: 1rem;
    max-width: 95%;
  }
}

body {
  margin: 0;
  text-align: center;
  background-color: #ffe104;
  font-family: "JosefinSans", sans-serif;
  color: #090801;
  margin-top: 6.3rem;
}

input,
button,
textarea,
select {
  font-family: inherit;
  color: #090801;
}

h1 {
  font-size: 3.5rem;
  font-family: "KirangHaerang" !important;
}
