@font-face {
  font-family: "NewsOfTheWorld";
  src: url(./assets/fonts/news-of-the-world-wide.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSans";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KirangHaerang";
  src: url(./assets/fonts/KirangHaerang-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  text-align: center;
  background-color: #ffe104;
  font-family: "JosefinSans", sans-serif;
  color: #090801;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

input,
button,
textarea,
select {
  font-family: inherit;
  color: #090801;
}

h1 {
  font-size: 55px;
  font-family: "KirangHaerang" !important;
}
